attrs==19.3.0
backcall==0.1.0
bleach==3.1.5
certifi==2020.6.20
cffi==1.14.2
cftime==1.0.4.2
chardet==3.0.4
Click==7.0
colorama==0.4.3
cryptography==3.1
cycler==0.10.0
Cython==0.29.14
dask==2.9.1
DateTime==4.3
dbus-python==1.2.16
decorator==4.4.1
distro==1.4.0
docutils==0.16
docwriter==1.2
easygui==0.98.1
Forthon==0.8.44
gitdb==4.0.4
GitPython==3.1.1
gprof2dot==2019.11.30
h5py==2.10.0
htmlmin==0.1.12
hypothesis==5.1.5
idna==2.10
ipython==7.11.1
ipython-genutils==0.2.0
jedi==0.15.2
jeepney==0.4.3
Jinja2==2.10.3
jsmin==2.2.2
keyring==21.3.1
kiwisolver==1.1.0
libxml2-python3==2.9.5
livereload==2.6.1
lxml==4.4.2
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.2
MDSplus==1.0
meson==0.53.0
mistune==0.8.4
mkdocs==1.0.4
mkdocs-material==4.6.0
mkdocs-minify-plugin==0.2.1
more-itertools==8.1.0
mpi4py==3.0.3
mpldatacursor==0.7.1
mpmath==1.1.0
netCDF4==1.5.3
ninja==1.9.0.post1
numexpr==2.7.1
numpy==1.18.1
packaging==20.0
pandas==0.25.3
parso==0.5.2
pdb2py==1.0
pep562==1.0
pexpect==4.7.0
pickleshare==0.7.5
pIDLy==0.2.7
pkginfo==1.5.0.1
pluggy==0.13.1
prompt-toolkit==3.0.2
psycopg2==2.8.4
ptyprocess==0.6.0
py==1.8.1
pycairo==1.18.2
pycparser==2.20
pyFFTW==0.11.1
Pygments==2.5.2
PyGObject==3.34.0
pymdown-extensions==6.2.1
pymssql==2.1.4
pyodbc==4.0.28
pyparsing==2.4.6
PyQt5==5.14.1
PyQt5-sip==12.7.0
pytest==5.3.2
python-dateutil==2.8.1
python3-D3D==4.10.8
python3-datautils==3.1.2
python3-ppgplot==3.0.7
python3-ptdata==3.0.4
python3-screens==3.0.3
pytz==2019.3
PyYAML==5.3
readme-renderer==26.0
requests==2.24.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
scipy==1.4.1
SecretStorage==3.1.2
six==1.13.0
smmap==3.0.2
sortedcontainers==2.1.0
sympy==1.5.1
tornado==6.0.3
tqdm==4.48.2
traitlets==4.3.3
twine==3.2.0
UBox==0.1.0
uedge==7.0.8.4.15rc1
-e git+https://github.com/jguterl/UEDGEToolBox.git@b19f0328d628f6573c5bd49464118b6b3a6b4db9#egg=UEDGEToolBox
urllib3==1.26.5
wcwidth==0.1.8
webencodings==0.5.1
zope.interface==5.1.0
